.DS_Store
.Trash/
.bash_history
.cache/
.dotfiles/
.hyper_plugins/
.local/
.npm/
.sh_history
.ssh/
.vim/tmp/
.zsh_history
Applications/
Dev/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
