# This is Git's per-user configuration file.
[user]
	name = Davide Di Somma
	email = davide.disomma@gmail.com
# Please adapt and uncomment the following lines:
#	name = Davide Di Somma
#	email = davide.disomma@gmail.com
